<!-- 框架头部 -->
<div class="G-frameHeader">

	<div class="G-frameHeaderContainer">

		<!-- LOGO -->
		<div class="G-frameHeaderLogo">
			LightBlogging
			<!-- <img src="web/resources/images/logo.png" alt="LOGO"> -->
		</div>

		<!-- 顶部导航条 -->
		<ul class="G-frameHeaderNav">
			<!-- <li>
				<a href="#home">home</a>
			</li>
			<li>
				<a href="#user">register</a>
			</li> -->
		</ul>

		<!-- 用户信息 -->
		<div class="G-frameHeaderInfo">
			<!-- 登陆注册 -->
			<div class="buttons">
				<!-- <input type="button" class="login uk-button" value="登陆">
				<input type="button" class="signUp uk-button" value="注册">
 -->
				<a class="login">登陆</a>
				<a class="signUp">注册</a>
			</div>
			<!-- 状态栏 -->
		</div>

	</div>

</div>

<!-- 框架主题 -->
<div class="G-frameBody"></div>