<!-- 框架头部 -->
<div class="G-frameHeader">

	<div class="G-frameHeaderContainer">

		<!-- LOGO -->
		<div class="G-frameHeaderLogo">LightBlogging</div>

		<!-- 用户信息 -->
		<div class="G-frameHeaderInfo">

			<!-- 登陆/注册 -->
			<div class="buttons">
				<a href="#user/login">登陆</a>
				<a href="#user/signup">注册</a>
			</div>

			<!-- 状态栏 -->
			<div class="userInfo">
				<a class="name">用户名</a>
				<a class="logout">退出</a>
			</div>
		</div>

	</div>

</div>

<!-- 框架主题 -->
<div class="G-frameBody"></div>