<article class="P-homeArticle uk-article">
	
	<h1 class="uk-article-title"> {{title}} </h1>
	
	<div class="uk-article-meta">
		
		<div class="metaItem">
			<label>作者：</label>
			<span> {{userId}} </span>
		</div>
		
		<div class="metaItem">
			<label>发布日期：</label>
			<span> {{createTime}} </span>
		</div>
		
		<div class="metaItem">
			<label>所属频道：</label>
			<span> {{channel}} </span>
		</div>
		
		<div class="metaItem">
			<label>标签：</label>
			<span> {{tag}} </span>
		</div>
	</div>

	<hr class="uk-article-divider"></hr>

	<div class="post">
		{{{content}}}
	</div>

</article>