<div class="P-homeArticle">
	
	<div class="title mb1"> {{title}} </div>
	
	<div class="info mb1">
		
		<div class="infoItem">
			<label>作者：</label>
			<span> {{userId}} </span>
		</div>
		
		<div class="infoItem">
			<label>发布日期：</label>
			<span> {{createTime}} </span>
		</div>
		
		<div class="infoItem">
			<label>所属频道：</label>
			<span> {{channel}} </span>
		</div>
		
		<div class="infoItem">
			<label>标签：</label>
			<span> {{tag}} </span>
		</div>
	</div>

	<div class="post">
		{{{content}}}
	</div>

</div>