.is-hidden {
  display: none !important;
}
.is-invisible {
  visibility: none !important;
}
.block {
  display: block        !important;
}
.inline {
  display: inline       !important;
}
.inline-block {
  display: inline-block !important;
}
.left {
  float: left  !important;
}
.right {
  float: right !important;
}
.clear {
  clear: both !important;
}
.text-left {
  text-align: left   !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right  !important;
}
.mt0 {
  margin-top: 0   !important;
}
.mt1 {
  margin-top: 1em !important;
}
.mb0 {
  margin-bottom: 0   !important;
}
.mb1 {
  margin-bottom: 1em !important;
}
.ml1 {
  margin-left: 1em !important;
}
.mr1 {
  margin-right: 1em !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.G-layout {
  margin: 0 auto;
  width: 1000px;
}
.G-frameHeader {
  margin-bottom: 30px;
}
.G-frameHeaderLogo {
  display: inline-block;
}
.G-frameHeaderLogo img {
  width: 100px;
  height: 100px;
}
.G-frameHeaderInfo {
  float: right;
}
.G-frameHeaderNav {
  display: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.G-frameHeaderNav li {
  list-style: none;
  float: left;
}
.G-frameHeaderNav li a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
.G-frameHeaderNav li a:hover {
  color: green;
}
.P-homeArticle .post {
  overflow: hidden;
  max-height: 250px;
}
.P-homeArticle .metaItem {
  margin-right: 10px;
  display: inline-block;
}
