.is-hidden {
  display: none !important;
}
.is-invisible {
  visibility: none !important;
}
.block {
  display: block        !important;
}
.inline {
  display: inline       !important;
}
.inline-block {
  display: inline-block !important;
}
.left {
  float: left  !important;
}
.right {
  float: right !important;
}
.clear {
  clear: both !important;
}
.text-left {
  text-align: left   !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right  !important;
}
.mt0 {
  margin-top: 0   !important;
}
.mt1 {
  margin-top: 1em !important;
}
.mb0 {
  margin-bottom: 0   !important;
}
.mb1 {
  margin-bottom: 1em !important;
}
.ml1 {
  margin-left: 1em !important;
}
.mr1 {
  margin-right: 1em !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb2 {
  margin-bottom: 2em !important;
}
.G-frameHeader {
  height: 100px;
  background: #333;
  margin-bottom: 30px;
}
.G-frameHeaderContainer {
  width: 1000px;
  margin: 0 auto;
}
.G-frameHeaderLogo {
  color: #eee;
  height: 100px;
  font-size: 30px;
  line-height: 100px;
  display: inline-block;
}
.G-frameHeaderInfo {
  height: 100px;
  line-height: 100px;
  float: right;
}
.G-frameHeaderInfo a {
  color: #ddd;
  margin-left: 10px;
}
.G-frameHeaderInfo a:hover {
  color: #fff;
}
.G-frameHeaderInfo .userInfo {
  display: none;
}
.G-frameBody {
  width: 1000px;
  margin: 0 auto;
}
.M-articleTitle h1 {
  display: inline;
}
.M-articleTitle .op {
  display: none;
}
.M-articleTitle .op .opItem {
  color: #666;
  margin-bottom: 5px;
  margin-right: 5px;
}
.M-articleTitle .op .opItem:hover {
  color: #000;
}
.M-articleTitle:hover .op {
  display: inline;
}
.M-article .metaItem {
  margin-right: 10px;
  display: inline-block;
}
.P-postList .M-article .post {
  overflow: hidden;
  max-height: 250px;
}
.P-postList .M-article .post.act {
  max-height: none;
}
.P-postList .M-article .showAll .unfold {
  display: inline;
}
.P-postList .M-article .showAll .fold {
  display: none;
}
.P-postList .M-article .showAll.act .unfold {
  display: none;
}
.P-postList .M-article .showAll.act .fold {
  display: inline;
}
.P-postListVisitor .add {
  display: none;
}
.P-postDetail .M-article a:hover {
  text-decoration: none;
}
.P-postDetail .M-article .showAll {
  display: none;
}
.P-postDetail .ke-container {
  margin-left: 46px;
  margin-top: -20px;
}
