<article class="M-article uk-article mb2">

	<div class="M-articleTitle">

		<!-- 标题 -->
		<a href="#post/detail/{{Id}}" class="uk-article-title uk-h2">{{Title}} </a>

		<span class="op {{Right}}">
			<!-- 铅笔－可编辑 -->
			<i data-id="{{Id}}" title="编辑" class="uk-icon-pencil opItem pencilEdit"></i>
			<i data-id="{{Id}}" title="删除" class="uk-icon-close opItem archive"></i>
		</span>

	</div>



	<div class="uk-article-meta mt1">

		<div class="metaItem">
			<label>作者：</label>
			<span> {{UserName}} </span>
		</div>

		<div class="metaItem">
			<label>发布日期：</label>
			<span> {{CreateTime}} </span>
		</div>

		<div class="metaItem">
			<label>所属频道：</label>
			<span> {{Channel}} </span>
		</div>

		<div class="metaItem">
			<label>标签：</label>
			<span> {{Tag}} </span>
		</div>
	</div>

	<hr class="uk-article-divider"></hr>

	<div class="post">
		{{{Content}}}
	</div>

	<div class="showAll mt1">
		<a class="unfold"> > 显示全文</a>
		<a class="fold">收起</a>
	</div>

</article>