<article class="M-article uk-article mb2">

	<a href="#post/detail/{{Id}}" class="uk-article-title uk-h2 block mb15">{{Title}} </a>

	
	<div class="uk-article-meta">
		
		<div class="metaItem">
			<label>作者：</label>
			<span> {{UserId}} </span>
		</div>
		
		<div class="metaItem">
			<label>发布日期：</label>
			<span> {{CreateTime}} </span>
		</div>
		
		<div class="metaItem">
			<label>所属频道：</label>
			<span> {{Channel}} </span>
		</div>
		
		<div class="metaItem">
			<label>标签：</label>
			<span> {{Tag}} </span>
		</div>
	</div>

	<hr class="uk-article-divider"></hr>

	<div class="post">
		{{{Content}}}
	</div>

	<div class="showAll mt1">
		<a> > 显示全文</a>
	</div>

</article>