
<!-- 头部 -->
<div class="P-postDetailHeader"></div>


<!-- 正文区域 -->
<div class="P-postDetailContent">
</div>


<!-- 留言区域 -->
<div class="P-postDetailComment mt1">

	<hr>


	<div class="uk-form mb1">

		<div class="uk-form-row">
			<label class="uk-form-label">姓名：</label>
			<input type="text" class="name uk-form-width-large">
		</div>

		<div class="uk-form-row">
			<label class="uk-form-label">邮箱：</label>
			<input type="text" class="email uk-form-width-large">
		</div>

		<div class="uk-form-row mb1">
			<label class="uk-form-label">留言：</label>
			<textarea class="uk-width-1-1 mt1" cols="" rows="" placeholder=""></textarea>
		</div>

		<div class="buttons">
			<input type="button" value="确认" class="uk-button uk-button-success right">
		</div>

	</div>



	<div class="content clear"></div>

</div>