<div class="uk-form mb1">

	<div class="uk-form-row">
		<label class="uk-form-label">文章标题：</label>
		<input type="text" class="name uk-form-width-large">
	</div>

	<div class="uk-form-row">
		<label class="uk-form-label">所属频道：</label>
		<input type="text" class="email uk-form-width-large">
	</div>

	<div class="uk-form-row mb1">
		<label class="uk-form-label">正文内容：</label>
		<textarea class="uk-width-1-1 mt1" cols="" rows="" placeholder=""></textarea>
	</div>

	<div class="uk-form-row">
		<label class="uk-form-label">分类标签：</label>
		<input type="text" class="email uk-form-width-large">
	</div>


	<div class="buttons mt1">
		<input type="button" value="确认" class="uk-button uk-button-success">
		<input type="button" value="取消" class="uk-button">
	</div>

</div>
