.M-article{
	&Title{
		h1{
			display: inline;
		}
		.op{
			display: none;
			.opItem{
				color: #666;
				margin-bottom: 5px;
				margin-right: 5px;
				&:hover{
					color: #000;
				}
			}
		}
		&:hover{
			.op{
				display: inline;
			}
		}
	}
	.metaItem{
		margin-right: 10px;
		display: inline-block;
	}
}
.P-post{
	// 主页
	&List{
		.M-article{
			.post{
				overflow: hidden;
				max-height: 250px;
				&.act{
					max-height: none;
				}
			}
			.showAll{
				.unfold{
					display: inline;
				}
				.fold{
					display: none;
				}
				&.act{
					.unfold{
						display: none;
					}
					.fold{
						display: inline;
					}
				}
			}
		}
	}

	// 详情页
	&Detail{
		.M-article{
			a{
				&:hover{
					text-decoration: none;
				}
			}

			.showAll{
				display: none
			}
		}

		// 编辑器
		.ke-container {
			margin-left: 46px;
			margin-top: -20px;
		}

	}


	// 编辑页
	&Edit{
	}
}
