
<h1 class="uk-h2">登陆</h1>
<hr>

<div class="uk-form uk-form-stacked">

	<div class="uk-form-row">
		<label class="uk-form-label">邮箱：</label>
		<input type="text" class="email">
	</div>

	<div class="uk-form-row">
		<label class="uk-form-label">密码：</label>
		<input type="password" class="password">
	</div>

	<!-- @todo 验证码-->

</div>

<div class="mt1">
	<input type="button" value="登陆" class="uk-button uk-button-success save mr1">
	<a href="#user/signup">没有账号？注册</a>
</div>


<div class="test uk-panel right">
	<h1 class="uk-panel-title">测试:</h1>

	<div class="uk-form-row">
		<a class="member">a. 以注册会员身份登入</a>
	</div>
	<div class="uk-form-row">
		<a class="admin">b. 以管理员身份登入</a>
	</div>
	<div class="uk-form-row">
		<a href="#post" class="visitor">c. 不登陆 －游客身份</a>
	</div>
</div>