
<h1 class="uk-h2">注册</h1>
<hr>

<div class="uk-form uk-form-stacked">

	<div class="uk-form-row">
		<label class="uk-form-label">姓名：</label>
		<input type="text" class="name">
	</div>

	<div class="uk-form-row">
		<label class="uk-form-label">邮箱：</label>
		<input type="text" class="email">
	</div>

	<div class="uk-form-row">
		<label class="uk-form-label">密码：</label>
		<input type="password" class="password">
	</div>

	<div class="uk-form-row">
		<label class="uk-form-label">确认密码：</label>
		<input type="password" class="verify">
	</div>

	<!-- @todo 验证码-->

</div>

<div class="mt1">
	<input type="button" value="保存" class="uk-button uk-button-success save mr1">
	<input type="button" value="返回" class="uk-button back mr1">
	<a href="#user/login">已有账号？登陆</a>
</div>
